/*header*/
header {
    display: flex;
}
 
div#logo {
    padding: 1em;
    padding-left: 3em;
}

div#logo img {
    width: 70%;
    height: 70%;

}

div#menu {
}

div#menu nav {
    display: flex;
}

nav li  {
    list-style: none;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
}

/*hero*/

section#hero {

}

div.hero {

}

.hero h1 {

}

.hero h2 {

}

.hero p {

}

.hero button {

}

/*footer*/

footer {

}

footer p {

}


