body {

}

/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
div#logo {
    padding: 1em;
    padding-left: 3em;
}

div#logo img {
    width: 70%;
    height: 70%;

}

div#menu {
}

div#menu nav {
    display: flex;
}


nav li  {
    list-style: none;
    padding: 3rem;
}

nav li a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: grey;
}

nav li a.p1 {
    color:#008E96;
    
}

nav li a.p2 {
    background-color: #F58220;
    color: white;
    padding: .2em;
}

/*hero*/

section#hero {
    height: 100vh;
    background-image: url(images/hero.png);
    background-size: cover;
}

div.hero {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10em;
}

.hero h1 {
    margin: 0;  
    font-family: 'Quicksand', sans-serif;
}

.hero h2 {
    width: 60%; 
    font-family: 'Quicksand', sans-serif; 
}

.hero p {
    width: 60%; 
    font-family: 'Quicksand', sans-serif; 
}

.hero button {
    width: 15%;
    padding: .5rem;
    margin-top: 2em; 
    font-family: 'Oswald', sans-serif; 
}

/*footer*/

footer {

}

footer p {

}







