/*header*/
header {
    display: flex;
}
 
div#logo {

}

div#logo img {

}

div#menu {

}

div#menu nav {
    display: flex;
}

nav li  {
    list-style: none;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
}

/*hero*/

section#hero {

}

div.hero {

}

.hero h1 {

}

.hero h2 {

}

.hero p {

}

.hero button {

}

/*footer*/

footer {

}

footer p {

}


